<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Filtro global">
</div>
<p-dataTable [value]="seasonalConnectionDebts" [paginator]="true" [rows]="24"
             [globalFilter]="gb" [(selection)]="selectedSeasonalConnectionDebt" selectionMode="single"
             emptyMessage="Registros no encontrados" (onRowSelect)="onRowSelect($event)"
             [responsive]="true"
>
    <p-column field="id" header="ID"></p-column>
    <p-column field="connectionId" header="Conexión ID"></p-column>
    <p-column field="issuedDate" header="Emitido"></p-column>
    <p-column field="initialMeasurementValue" header="Medida inicial"></p-column>
    <p-column field="finalMeasurementValue" header="Medida final"></p-column>
    <p-column field="seasonYear" header="Año"></p-column>
    <p-column field="seasonMonth" header="Mes"></p-column>
</p-dataTable>

