<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="40" style="float:left" placeholder="Filtro global">
</div>
<p-dataTable [value]="measureStamps" [rows]="30" [paginator]="true"
             [globalFilter]="gb" [(selection)]="selectedMeasureStamp" selectionMode="single"
             emptyMessage="Registros no encontrados" (onRowSelect)="onRowSelect($event)"
             [responsive]="true"
>
    <p-column field="date" header="Fecha"></p-column>
    <p-column field="connectionID" header="Conexión ID"></p-column>
    <p-column field="registerID" header="Registro ID"></p-column>
    <p-column field="currentSeasonalConnectionDebtId" header="Recibo ID">
        <template pTemplate let-col let-measurestamp="rowData">
            <span>{{measurestamp[col.field] == 0? "N/C" : measurestamp[col.field] }}</span>
        </template>
    </p-column>
    <p-column field="value" header="Medida"></p-column>
</p-dataTable>
